<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hey {{$first_name}},</h3>
            <p>
              Thank you for applying to Makers Academy. We aim to get back to all applicants within 7 working days.
            </p>
            <p>
              In the meantime - why not get a head start on learning to code by heading over to http://www.codecademy.com/en/tracks/ruby.
            </p>
            <p>
              If you don't hear from us, please email <a href="mailto:onboarding@makersacademy.com">onboarding@makersacademy.com</a> and one of our team will find out what went wrong!
            </p>
            <p>
              Thanks,
            </p>
            <p>
              Nikesh and the Makers Academy Team
            </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->