<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hey {{$first_name}},</h3>
            <p>
              Congratulations on passing your interview!
              You are now one step closer to becoming a fully-fledged web developer! So that I can secure your place for your chosen cohort, you need to <a href="https://makersacademy.typeform.com/to/uGKbQx?email=%7B%7B%20$%7B$email%7D%20%7D%7D&firstname=%7B%7B%20$%7B$first_name%7D%20%7D%7D&lastname=%7B%7B%20$%7B$last_name%7D%20%7D%7D" target="_blank">complete this form</a>. We operate a first-come, first-served policy for all places on the course so I would suggest getting your registration in. We can only confirm your place once we have notification of your deposit being paid. 
              We cannot stress how important it is that you keep coding before you start the PreCourse - there is no limit to your learning. You will have to work super hard to get through the course and be dedicated to everything you do while you're learning with us.
            </p>
            <h4>Payment</h4>
            <p>
              We are notified automatically by GoCardless if you are choosing to pay using our suggested payment option (nb. there are no transaction charges on payments). The end of the form above will take you straight to our payment portal. 
              If you are paying from abroad, you can make payment via <a href="http://bit.ly/MATransferWise">TransferWise</a>. Our bank details are :
            </p>
            <p>
              Makers Academy Ltd<br />
              BARCLAYS<br />
              Account Number - 20254797<br />
              Bank Identifier (sort code) - 204491<br />
              IBAN: GB55BARC20449120254797<br />
              SWIFT: BARCGB22<br />
              Leicester, Leicestershire, LE87 2BB
            </p>
            <p>
              <small>
              Note: Please add my email address when making payment and add your name / cohort to the payment reference.
              </small>
            </p>
            <p>
              Alternatively, if you would like to pay by Bitcoin please let me know and I can send you the relevant details. In the meanwhile, let me know if you have any other questions and I will try to get back to you as soon as I can.
            </p>
            <p>
              We are really excited to welcome you to Makers Academy and look forward to hearing from you soon.
            </p>
            <p>
              Nikesh
            </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->