<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hey {{$first_name}},</h3>
            <p>
              I saw that you applied for a place at Makers Academy a few days ago but haven't scheduled your interview yet.
            </p> 
            <p>
              To schedule your interview just click the link below:
            </p>

            <a class="button" href="http://makersacademy.youcanbook.me/?L1=%7B%7B%20$%7BPipedrive%20Deal%20ID%7D%20%7D%7D&email=%7B%7B%20$email%20%7D%7D" target="_blank">Book an interview</a>
            <p>
              If you can't find a time to suit you please get in touch with me at <a href="mailto:nikesh@makersacademy.com">nikesh@makersacademy.com</a>.
            </p>
            <p>
              And don't forget: get in touch if you have any burning questions!
            </p>
            <p>
              <em>
                PS: Remember that before arriving you should have, at least, gone through at least the <strong>first 8 chapters of <a href="https://pine.fm/LearnToProgram/chap_00.html" target="_blank">Chris Pine's 'Learn to Program' book</a></strong>.
              </em>
            </p>
            <p>
              <em>
                Also, you need to have <strong>fully completed</strong> <a href="http://www.codecademy.com/tracks/ruby" target="_blank">Codecademy - Ruby</a>.
              </em>
            </p>
            <p>
              <em>
                You can also check out this resource for additional help: <a href="http://www.lynda.com/Ruby-tutorials/essential-training/47905-2.html" target="_blank">Lynda.com - Essentials of Ruby video course</a>.
              </em>
            </p>
            <p>
              <em>
                If you manage to do all three even better!
              </em>
            </p>
            <p>
              I look forward to meeting you soon.
            </p> 

            <p>
              All the best,
            </p>
            <p>
              Nikesh and the Makers Academy Team
            </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->