<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hey {{$first_name}},</h3>
            <p>
              Congratulations, we've reviewed your application and would like to invite you to interview at Makers Academy. The interview is fairly relaxed and will consist of three parts:
            </p>
            <p>
              1. An introduction to Makers<br />
              2. A few logic games<br />
              3. A short pair-programming exercise<br />
            </p>
            <h4>Learning Materials</h4>
            <p>
              Before arriving you should have, at least, gone through at least the <a href="https://pine.fm/LearnToProgram/chap_00.html" target="_blank">first 8 chapters of Chris Pine's 'Learn to Program' book</a>.
            </p>
            <p>
              You will also need to have <strong>fully completed</strong> <a href="http://www.codecademy.com/tracks/ruby" target="_blank">Codecademy - Ruby</a>.
            </p>
            <p>
              You can also check out this resource for additional help: <a href="http://www.lynda.com/Ruby-tutorials/essential-training/47905-2.html" target="_blank">Lynda.com - Essentials of Ruby video course</a>.
            </p>
            <p>
              If you manage to do all three, even better!
            </p>
            <h4>How to Prep for the interview</h4>
            <ol>
              <li>Book your interview, please follow this link: <a href="http://makersacademy.youcanbook.me/?L1=%7B%7B%20$%7BPipedrive%20Deal%20ID%7D%20%7D%7D&email=%7B%7B$email%7D%7D" target="_blank">Book Your Interview</a>. Set yourself a target date to get through the work. Joining Makers Academy requires you to be committed to code - this is the first step. <strong>You will need your Codecademy profile link for this step.<strong></li>

              <li>Make sure you can access a dev environment. The easiest way to do this is to use <a href="http://www.c9.io" target="_blank">C9</a>. Alternatively, if you have a Mac, why not set up your own? Follow the step-by-step tutorial <a href="http://bit.ly/osxsetup" target="_blank">here</a>. (don't use the script option at the top - you won't learn anything!)</li>

              <li>You'll need to work through Chris Pine's tutorial on your laptop and do each exercise. Please note - reading books and watching videos just won't count - when it comes to coding, <strong>you have to learn by doing</strong>. This is why it's essential that you <strong>do the exercises in the book</strong>.</li>

              <li>Keep to a schedule to study, ie: 2 hours every evening. Don't cram for the interview the day before - we can tell.</li>

              <li>Make sure you have gone through the required materials, had a stab at the exercises, and digested the content. We're more interested in how you learn to code that how much you can code.</li>

              <li>Do your research. We get worried if people don't have questions about learning to code or joining Makers!</li> 

              <li>We advise you to allow 7 - 10 days of study to prepare for the interview and book your interview accordingly. You can book a Skype interview, but we prefer you to come into Makers Academy in person.</li> 
            </ol>
            <p>
              If you can't find a time to suit you please get in touch with us ASAP and we look forward to meeting you soon. 
            </p>
            <p>
              All the best and good luck!
            </p>
            <p>
              Nikesh and the Makers Academy Team
            </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->