<!-- For Onsite cohort -->
<!-- A button can be placed inside any BODY -->
<center>
  <p>
    <a class="button button--vertical" href="http://makersacademy.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}" target="_blank">Book an interview</a>
  </p>
</center>
<!-- /BUTTON -->


<!-- For Remote cohort -->
<!-- A button can be placed inside any BODY -->
<center>
  <p>
    <a class="button button--vertical" href="http://remote-interviews.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}" target="_blank">Book an interview</a>
  </p>
</center>
<!-- /BUTTON -->
 
<!-- For 2nd Interview - Onsite cohort -->
<!-- A button can be placed inside any BODY -->
<center>
  <p>
    <a class="button button--vertical" href="http://makersacademy.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}&INTERVIEW_STAGE=2nd Interview" target="_blank">Book an interview</a>
  </p>
</center>
<!-- /BUTTON -->
 
<!-- For 2nd Interview - Remote cohort -->
<!-- A button can be placed inside any BODY -->
<center>
  <p>
    <a class="button button--vertical" href="http://remote-interviews.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}&INTERVIEW_STAGE=2nd Interview" target="_blank">Book an interview</a>
  </p>
</center>
<!-- /BUTTON -->
