<!-- A button can be placed inside any BODY -->
<center>
  <p>
<!-- Onsite -->
    <a class="button button--vertical" href="http://makersacademy.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}" target="_blank">Book an interview</a>
<!-- Remote -->  
    <a class="button button--vertical" href="http://remote-interviews.youcanbook.me/?L1={{ customer['Pipedrive Deal ID'] }}&email={{ customer['email'] }}&COHORT={{ customer['Cohort'] }}" target="_blank">Book an interview</a>
  </p>
</center>

<!-- /BUTTON -->
